<div class="container">
  <div class="row">

    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">

      <form class="form-auth register" ng-submit="vm.register()" ng-if="vm.mode === 'register'">
        <h2 class="text-center">Реєстрація</h2>

        <label class="sr-only" for="regName">Прізвище та ім'я</label>
        <input type="text" id="regName" class="form-control input-lg"
               placeholder="Прізвище та ім'я" required autofocus
               ng-model="vm.regModel.name">

        <label class="sr-only" for="inputEmail">Email</label>
        <input type="email" id="inputEmail" class="form-control input-lg"
               placeholder="Email" required
               ng-model="vm.regModel.email">

        <label class="sr-only" for="inputPassword">Пароль</label>
        <input type="password" id="inputPassword" class="form-control input-lg"
               placeholder="Пароль" required
               ng-model="vm.regModel.password">
        <br/>
        <div class="alert alert-danger" role="alert" ng-if="vm.error">
          <button type="button" class="close" aria-label="Сховати" ng-click="vm.hideErr()">
            <span aria-hidden="true">&times;</span>
          </button>
          {{vm.errorMess}}
        </div>
        <a href ng-click="vm.mode = 'login'">У мене вже є обліковий запис</a>
        <br/>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Зареєструватися</button>
      </form>

      <form class="form-auth" ng-submit="vm.login()" ng-if="vm.mode === 'login'">
        <h2 class="text-center">Авторизація</h2>

        <label class="sr-only" for="inputEmail">Email</label>
        <input type="email" id="inputEmail" class="form-control input-lg"
               placeholder="Email" required autofocus
               ng-model="vm.logModel.email">

        <label class="sr-only" for="inputPassword">Пароль</label>
        <input type="password" id="inputPassword" class="form-control input-lg"
               placeholder="Пароль" required
               ng-model="vm.logModel.password">
        <br/>
        <div class="alert alert-danger" role="alert" ng-if="vm.error">
          <button type="button" class="close" aria-label="Сховати" ng-click="vm.hideErr()">
            <span aria-hidden="true">&times;</span>
          </button>
          {{vm.errorMess}}
        </div>
        <a href ng-click="vm.mode = 'register'">У мене ще немає облікового запису</a>
        <br/>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Увійти</button>
      </form>

    </div>
  </div>
</div>
